.@PLUGIN_CLASS@.mod-pedal {
    padding: 0;
    margin: 0;
    width: calc(@DISTRHO_UI_DEFAULT_WIDTH@px + 30px);
    height: calc(@DISTRHO_UI_DEFAULT_HEIGHT@px + 30px);
    background: #0e0e0e;
}

.@PLUGIN_CLASS@.mod-pedal .canvas_wrapper {
    --device-pixel-ratio: 1;
    /*image-rendering: pixelated;*/
    /*image-rendering: crisp-edges;*/
    transform-origin: 0 0 0;
    transform: scale(calc(1 / var(--device-pixel-ratio)));
    position: absolute;
    top: 30px;
    width: @DISTRHO_UI_DEFAULT_WIDTH@px;
    height: @DISTRHO_UI_DEFAULT_HEIGHT@px;
}

.@PLUGIN_CLASS@.mod-pedal .canvas_wrapper:focus-within {
    z-index: 21;
}

.@PLUGIN_CLASS@.mod-pedal .mod-audio-input,
.@PLUGIN_CLASS@.mod-pedal .mod-audio-output {
    top: 0px;
    margin-bottom: 25px;
}

.@PLUGIN_CLASS@.mod-pedal .jack-disconnected {
    top: 0px !important;
}
